.left-middle-square{
    animation: anotherBackgroundLM 1.5s infinite linear;
}
@keyframes anotherBackgroundLM {
    0%,49.9%{
        background-image: url("../assets/photos/middle-left-square-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/right-middle-square-backround.svg");
    }
    100%{
        background-image: url("../assets/photos/middle-left-square-background.svg");
    }
}
.left-up-square{
    animation: anotherBackgroundLU 1.5s infinite linear;
}
@keyframes anotherBackgroundLU {
    0%, 49.9%{
        background-image: url("../assets/photos/left-up-square-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/right-up-square-backround.svg");
    }
    100%{
        background-image: url("../assets/photos/left-up-square-background.svg");
    }
}
.left-down-square{
    animation: anotherBackgroundLD 1.5s infinite linear;
}
@keyframes anotherBackgroundLD {
    0%, 49.9%{
        background-image: url("../assets/photos/left-down-square-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/right-down-square-backround.svg");
    }
    100%{
        background-image: url("../assets/photos/left-down-square-background.svg");
    }
}
.right-up-square{
    animation: anotherBackgroundRU 1.5s infinite linear;
}
@keyframes anotherBackgroundRU {
    0%, 49.9%{
        background-image: url("../assets/photos/right-up-square-backround.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/left-up-square-background.svg");
    }
    100%{
        background-image: url("../assets/photos/right-up-square-backround.svg");
    }
}
.right-middle-square{
    animation: anotherBackgroundRM 1.5s infinite linear;
}
@keyframes anotherBackgroundRM {
    0%, 49.9%{
        background-image: url("../assets/photos/right-middle-square-backround.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/middle-left-square-background.svg");
    }
    100%{
        background-image: url("../assets/photos/right-middle-square-backround.svg");
    }
}
.right-down-square{
    animation: anotherBackgroundRD 1.5s infinite linear;
}
@keyframes anotherBackgroundRD {
    0%, 49.9%{
        background-image: url("../assets/photos/right-down-square-backround.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/left-down-square-background.svg");
    }
    100%{
        background-image: url("../assets/photos/right-down-square-backround.svg");
    }
}
.letter-F{
    animation: anotherBackgroundF 1.5s infinite linear;
    p{
        animation: rotateF 7s infinite;
        transform-origin: center;
    }
}
@keyframes rotateF {
    0% { 
        transform: rotate(0deg); 
    }
    10%,20% { 
        transform: rotate(30deg);
        scale: 1.3;
    }
    30%,40%,50% {   
        transform: rotate(0deg); 
        scale: 1;
    }
    60%, 70%{ 
        transform: rotate(-50deg); 
        scale: 0.7;
    }
    80%, 90%, 100%{ 
        transform: rotate(0deg); 
        scale: 1;
    }
}
@keyframes anotherBackgroundF {
    0%, 49.9%{
        background-image: url("../assets/photos/letter-f-background.svg");
    }    
    50%, 99.9%{
        background-image: url("../assets/photos/letter-e-background.svg");
    }
    100%{
        background-image: url("../assets/photos/letter-f-background.svg");
    }
}
.letter-E{
    animation: anotherBackgroundE 1.5s infinite linear;
    p{
        animation: rotateE 7s infinite;
        transform-origin: center;
    }
}
@keyframes rotateE {
    0% { 
        transform: rotate(0deg); 
    }
    10%,20% { 
        transform: rotate(-30deg);
        scale: 0.7;
    }
    30%,40%,50% {   
        transform: rotate(0deg); 
        scale: 1;
    }
    60%, 70%{ 
        transform: rotate(50deg); 
        scale: 1.3;
    }
    80%, 90%, 100%{ 
        transform: rotate(0deg); 
        scale: 1;
    }
}
@keyframes anotherBackgroundE {
    0%, 49.9%{
        background-image: url("../assets/photos/letter-e-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/letter-f-background.svg");
    }
    100%{
        background-image: url("../assets/photos/letter-e-background.svg");
    }
}
.letter-R{
    animation: anotherBackgroundR 1.5s infinite linear;
    p{
        animation: rotateE 7s infinite;
        transform-origin: center;
    }
}
@keyframes anotherBackgroundR {
    0%, 49.9%{
        background-image: url("../assets/photos/letter-r-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/letter-info-background.svg");
    }
    100%{
        background-image: url("../assets/photos/letter-r-background.svg");
    }
}
.letter-M{
    animation: anotherBackgroundM 1.5s infinite linear;
    p{
        animation: rotateF 7s infinite;
        transform-origin: center;
    }
}
@keyframes anotherBackgroundM {
    0%, 49.9%{
        background-image: url("../assets/photos/letter-m-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/letter-a-background.svg");
    }
    100%{
        background-image: url("../assets/photos/letter-m-background.svg");
    }
}
.letter-A{
    animation: anotherBackgroundA 1.5s infinite linear;
    p{
        animation: rotateE 7s infinite;
        transform-origin: center;
    }
}
@keyframes anotherBackgroundA {
    0%, 49.9%{
        background-image: url("../assets/photos/letter-a-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/letter-m-background.svg");
    }
    100%{
        background-image: url("../assets/photos/letter-a-background.svg");
    }
}
.letter-info{
    animation: anotherBackgroundInfo 1.5s infinite linear;
}
@keyframes anotherBackgroundInfo {
    0%, 49.9%{
        background-image: url("../assets/photos/letter-info-background.svg");
    }
    50%, 99.9%{
        background-image: url("../assets/photos/letter-r-background.svg");
    }
    100%{
        background-image: url("../assets/photos/letter-info-background.svg");
    }
}
.rotated-texture{
    img{
        animation: rotateTexture 30s infinite linear;
        transform-origin: center;
    }
}
@keyframes rotateTexture {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.play-fruits{
    animation: weightText 1.5s infinite linear;
}
@keyframes weightText{
    0%{
        font-style: italic;
    }
    100%{
        font-style: normal;
    }
}
.down-part-second-right-colomn{
    img{
        animation: rotateOrange 3s infinite;
    }
}
@keyframes rotateOrange{
    0%{
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    }
    40%{
        transform: rotate(-1260deg);
        animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
    }
    60%{
        transform: rotate(-1350deg);
        animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
    }
    100%{
        transform: rotate(0deg);
    }
}
.tomato{
    img{
        animation: dance 6s infinite ease-in-out;
    }
}
@keyframes dance{
      0%, 100% {
    transform: 
      translateY(0px) 
      rotate(0deg) 
      scale(1);
  }
  15% {
    transform: 
      translateY(-15px) 
      rotate(-10deg) 
      scale(1.1);
  }
  30% {
    transform: 
      translateY(0px) 
      rotate(10deg) 
      scale(1);
  }
  45% {
    transform: 
      translateY(-10px) 
      rotate(-5deg) 
      scale(1.05)
      skewX(5deg);
  }
  60% {
    transform: 
      translateY(5px) 
      rotate(15deg) 
      scale(0.95)
      skewX(-5deg);
  }
  75% {
    transform: 
      translateY(-20px) 
      rotate(-15deg) 
      scale(1.1);
  }
  90% {
    transform: 
      translateY(10px) 
      rotate(20deg) 
      scale(0.98);
  }
}
.mushroom{
    img{
        animation: mushroomDance 3s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}
@keyframes mushroomDance{
    0%, 100% {
    }
    20% {
        transform: translateX(-20%) scale(1);
    }
    40% {
        transform: translateX(-20%) scale(1.2);
    }
    60% {
        transform: translateX(-20%) scale(1);
    }
}
.up-part-second-right-colomn{
    img{
        animation: magnetic 4s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}
@keyframes magnetic{
    0%, 100%{
        transform: scale(1);
    }
    25%{
        transform: translateX(80px) scale(1.2);
    }
    50%{
        transform: translateX(-80px) scale(1);
    }
    75%{
        transform: translateX(-80px) scale(0.8);
    }
}
.tape{
    animation: runTape 20s liner infinite;
}
@keyframes runTape {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.dnk{
    animation: dnkBackground 2s infinite;
}
@keyframes dnkBackground{
    0%, 16.5%{
        background-position-x: right;
    }
    16.6%, 33.1%{
        background-position-x: left;
    }
    33.2%, 49.7%{
        background-position-x: center;
    }
    49.8%, 66.3%{
        background-position-y: top;
    }
    66.4%, 82.9%{
        background-position-y: bottom;
    }
    83%, 100%{
        background-position-y: c;
    }
}
.trees{
    div{
        animation: growTrees 6s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}
@keyframes growTrees{
    0%,100% {
    transform: scale(0.1);
    opacity: 0.5;
  }
  25% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
.up-gears{
    animation: moveLeft 15s infinite linear;
    img{
        animation: rotateUp 3s infinite linear
    }
}
.down-gears{
    animation: moveRight 15s infinite linear;
    img{
        animation: rotateDown 3s infinite linear
    }
}
.gear1{
    animation-duration: 2s;
}
.gear2{
    animation-duration: 3s;
}
.gear3{
    animation-duration: 4s;
}
.gear4{
    animation-duration: 2.5s;
}
.gear5{
    animation-duration: 3.5s;
}
.gear6{
    animation-duration: 4.5s;
}
@keyframes moveLeft{
      0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes moveRight {
      0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotateUp{
      0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateDown{
      0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle:hover{
    animation-play-state: paused;
    img{
        opacity: 1;
    }
}
.circle{
    transition: all 0.5s linear;
    animation: fallDown 15s infinite linear;
    cursor: pointer;
    .img{
        animation: rotateTomato 5s infinite linear;
    }
}

@keyframes fallDown{
    0% {
        transform: translateY(-1000px);
    }
    99.9% {
        transform: translateY(500px);
    }
    100%{
        transform: translateY(-1000px);
    }
}
@keyframes rotateTomato{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.vitamin-letter::before{
    content: 'D';
    animation: changeLetter 5s infinite;
}
@keyframes changeLetter{
    0%, 20%{
        opacity: 1;
        content: 'D';
    }
    25%, 45%{
        opacity: 1;
        content: 'C';
    }
    50%, 70%{
        opacity: 1;
        content: 'A';
    }
    75%, 95%{
        opacity: 1;
        content: 'B';
    }
    100%{
        opacity: 1;
        content: 'D';
    }
}
.tape-things{
    animation: runTape 10s linear infinite;
}
.tape-things2{
    animation: runTape 10s linear infinite;
}
@keyframes runTape{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
.tape-robots-original{
    animation: blinkTape 1s infinite;
}
@keyframes blinkTape{
    0%, 49.9%, 100%{
        opacity: 1;
    }
    50%, 99.9%{
        opacity: 0;
    }
}
.tape-robots-alt{
    animation: blinkAlt 1s infinite;
}
@keyframes blinkAlt{
    0%, 49.9%, 100%{
        opacity: 0;
    }
    50%, 99.9%{
        opacity: 1;
    }
}
.fallen1:hover{
    animation-play-state: paused;
    background-image: url(../assets/photos/fall1-hover.svg);
}
.falling-image{
    animation: rotation 10s infinite linear;
}
.fallen1{
    transform-origin: center;
    animation: fallBrocolli 10s infinite linear;
}
.fallen2:hover{
    animation-play-state: paused;
    background-image: url(../assets/photos/fall2-hover.svg);
}
.fallen2{
    transform-origin: center;
    animation: fallBrocolli 10s infinite linear;
}
.fallen3:hover{
    animation-play-state: paused;
    background-image: url(../assets/photos/fall3-hover.svg);
}
.fallen3{
    transform-origin: center;
    animation: fallBrocolli 10s infinite linear;
}
.fallen4:hover{
    animation-play-state: paused;
    background-image: url(../assets/photos/fall4-hover.svg);
}
.fallen4{
    transform-origin: center;
    animation: fallBrocolli 10s infinite linear;
}
.fallen5:hover{
    animation-play-state: paused;
    background-image: url(../assets/photos/fall5-hover.svg);
}
.fallen5{
    transform-origin: center;
    animation: fallBrocolli 10s infinite linear;
}
.fallen6:hover{
    animation-play-state: paused;
    background-image: url(../assets/photos/fall6-hover.svg);
}
.fallen6{
    transform-origin: center;
    animation: fallBrocolli 10s infinite linear;
}
.fallen7:hover{
    animation-play-state: paused;
    background-image: url(../assets/photos/fall7-hover.svg);
}
.fallen7{
    transform-origin: center;
    animation: fallBrocolli 10s infinite linear;
    
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes fallBrocolli{
    0%{
        transform: translateY(-10%);
    }
    99.9%{
        transform: translateY(101%);
    }
    100%{
        transform: translateY(-10%);
    }
}