@import url('reset.css');
@import url('/assets/fonts/font.css');
@import url('animations.css');

*{
    box-sizing:border-box;
}
main{
    width: 1920px;
    height: 1080px;
    display: flex;
    position: relative;
    background-image: url("../assets/photos/main-screen-background.svg");
}
.left-colomn{
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-up-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/left-up-square-background.svg");
}
.left-down-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/left-down-square-background.svg");
}
.main-logo-wrap{
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
}
.right-colomn{
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.square-letter{
    height: calc(100% / 3);
    width: calc(1056px / 2 - 1px);
    font-family: "Stolzl";
    font-weight: 900;
    font-size: 850px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #121B13;
}
.letter-F{

    p{
        rotate: 30deg;
    }
}
.letter-E{
    p{
        rotate: -9deg;
    }
}
.letter-R{
    background-image: url("../assets/photos/letter-r-background.svg");
    p{
        rotate: -9deg;
    }
}
.letter-M{
    display: flex;
    justify-content: center;
    p{
        rotate: 10deg;
    }
}
.letter-A{
    display: flex;
    justify-content: center;
    p{
        rotate: -7deg;
    }
}
.letter-info{
    background-image: url("../assets/photos/letter-info-background.svg");
    font-family: "IF Kica";
    font-size: 31px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 45px 13px;
}
.right-up-square{
    background-image: url("../assets/photos/right-up-square-backround.svg");
    width: 100%;
    height: calc(100%/3);
}
.right-down-square{
    background-image: url("../assets/photos/right-down-square-backround.svg");
    width: 100%;
    height: calc(100%/3);
}
.second-screen{
    width: 1920px;
    height: 1080px;
    display: flex;
    position: relative;
}
.second-left-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    div{
        display: flex;
        width: 100%;
    }
}
.fallen1{
    height: 20%;
    justify-content: flex-end;
    img{
        width: 239px;
    }
}
.fallen2{
    height: 20%;
    justify-content: flex-start;
    img{
        width: 250px;
    }
}
.fallen3{
    height: 20%;
    justify-content: center;
}
.fallen4{
    height: 20%;
    justify-content: flex-start;
}
.center-part{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.grass{
    width: 100%;
    height: 28.7%;
    background-color: #004520;
    background-image: url("../assets/photos/grass.svg");
}
.center-part-down{
    width: 100%;
    height: 71.3%;
    display: flex;
    flex-direction: row;
}
.center-part-down-left{
    height: 100%;
    width: 47%;
}
.center-part-down-right{
    height: 100%;
    width: 53%;
}
.tomato{
    width: 100%;
    height: 63%;
    background-color: #DDECFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.dnk{
    width: 100%;
    height: 37%;
    background-color: white;
    background-image: url("../assets/photos/dnk.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        background-color: white;
        display: flex;
        align-items: center;
        font-family: "IF Kica";
        font-size: 33px;
        padding: 10px;
    }
}
.vitamins{
    width: 100%;
    height: 37%;
    background-color: #FAAB28;
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    font-family: "IF Kica";
    font-size: 36px;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
.mushroom{
    width: 100%;
    height: 63%;
    background-color: #8C3651;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}
.second-right-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    display: flex;
    flex-direction: column;
}
.up-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 1.5 + 48px);
    background-color: #DDECFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.onion2{
    width: 622px;
    height: 710px;
    display: flex;
    justify-content: flex-end;
}
.down-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 3 + 49px);
    background-color: #B30E15;
    overflow: hidden;
}
.tape{
    width: 1920px;
    height: 76px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    overflow: hidden;
    p{
        font-family: "IF Kica";
        font-size: 50px;
        font-weight: 500;
    }
}
.third-screen{
    width: 1920px;
    height: 1003px;
    display: flex;
    flex-direction: row;
}
.third-main-screen{
    width: 77.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.trees-and-tasty{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.trees{
    width: 50%;
    height: 100%;
    background-color: #B30E15;
    display: flex;
    justify-content: center;
    gap: 21px;
}
.inverted-tree{
    rotate: 180deg;
}
.tasty{
    width: 50%;
    height: 100%;
    background-color: #004520;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "IF Kica";
    font-size: 51px;
    justify-content: space-between;
    padding: 56px 45px;
}
.gears{
    width: 100%;
    height: 50%;
    background-color: #FAAB28;
    gap: 4%;
    display: flex;
    flex-direction: column;
    img{
        width: 424px;
        height: 464px;
    }
}
.up-gears{
    width: 100%;
    height: 48%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 47px;
    justify-content: center;
    align-items: flex-end;
}
.down-gears{
    width: 100%;
    height: 48%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 47px;
    justify-content: center;
    align-items: flex-start;
    img{
        rotate: 180deg;
    }
}
.third-right-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    display: flex;
    flex-direction: column;
    gap: 28px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0 81px;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #DDECFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forth-screen{
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
}
.tape-robots{
    width: 100%;
    height:6%;
    background-color: #DDECFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.play-fruits{
    width: 100%;
    height: 88%;
    background-color: #FAAB28;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "IF Kica";
    font-weight: 900;
    padding: 13px 0 0 0;
}
.up-text{
    font-size: 225px;
    padding: 23px 15px;
    display: flex;
    justify-content: center;
}
.down-text{
    font-size: 265px;
    height: 198px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}
.footer{
    width: 100%;
    height:6%;
    background-color: #DDECFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.fruits{
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
    div{
        height: 100%;
        width: calc(100%/4);
        border: 1px solid black;
    }
}
.dekstop-only{
    display: inherit;
}
.mobile-only{
    display: none;
}
@media (max-width: 1536px){
    main{
        width: 1536px;
        height: 736px;
    }
    .forth-screen{
        width: 1536px;
        height: 736px;
    }
    .third-screen{
        width: 1536px;
        height: 675px;
    }
    .tape{
        width: 1536px;
        height: 61px;
        gap: 24px;
        p{
            font-size: 40px;
        }
    }
    .second-screen{
        width: 1536px;
        height: 736px;
    }
    .square-letter{
        width: calc(864px / 2 - 10.5px);
    }
    .tape-robots{
        height: 53px;
        padding: 0 27px;
        p{
            font-size: 24px;
        }
    }
    .footer{
        height: 53px;
        padding: 0 27px;
        p{
            font-size: 24px;
        }
    }
    .up-text{
        font-size:180px;
        padding: 14px 15px;
    }
    .down-text{
        font-size:212px;
        height: 160px;
    }
}
@media (max-width: 1280px){
    main{
        width: 1280px;
        height: 800px;
    }
    .forth-screen{
        width: 1280px;
        height: 800px;
    }
    .third-screen{
        width: 1280px;
        height: 749px;
    }
    .tape{
        width: 1280px;
        height: 51px;
        gap: 20px;
        p{
            font-size: 33px;
        }
    }
    .second-screen{
        width: 1280px;
        height: 800px;
    }
    .square-letter{
        width: calc(720px / 2 - 9px);
    }
    .tape-robots{
        height: 46px;
        padding: 0 23px;
        p{
            font-size: 20px;
        }
    }
    .footer{
        height: 46px;
        padding: 0 23px;
        p{
            font-size: 20px;
        }
    }
    .up-text{
        font-size:150px;
        padding: 14px 10px;
    }
    .down-text{
        font-size:176px;
        height: 130px;
    }
}
@media (max-width: 768px){
    .dekstop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    main{
        width: 768px;
        height: 1024px;
    }
    .forth-screen{
        width: 768px;
        height: 1024px;
    }
    .third-screen{
        width: 768px;
        height: 994px;
        flex-direction: column;
    }
    .third-main-screen{
        width: 100%;
        height: 1024px;
    }
    .third-right-colomn{
        width: 100%;
        height: 50%;
    }
    .tape{
        width: 768px;
        height: 30px;
        gap: 12px;
        p{
            font-size: 20px;
        }
    }
    .second-screen{
        width: 768px;
        height: fit-content;
        grid-template-columns: [start] 50% [line2] 50% [end];
        grid-template-rows: [row1-start] 1024px [row1-end] 1024px [last];
        display: grid;
    }
    .main-logo-wrap{
        width: 100%;
    }
    .square-letter{
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
    .second-left-colomn{
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    .center-part{
        grid-column: 1 / span 2;
        width: 100%;
    }
    .second-right-colomn{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }
    .tape-robots{
        height: 28px;
        padding: 0 13px;
        p{
            font-size: 12px;
        }
    }
    .footer{
        height: 28px;
        padding: 0 13px;
        p{
            font-size: 12px;
        }
    }
    .up-text{
        font-size:90px;
        padding: 0 10px;
    }
    .down-text{
        font-size:106px;
        height: 80px;
    }
    .play-fruits{
        height: 970px;
    }

}
@media (max-width: 320px){
    .dekstop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    main{
        width: 320px;
        height: 475px;
    }
    .forth-screen{
        width: 320px;
        height: 475px;
    }
    .third-screen{
        width: 320px;
        height: 462px;
        flex-direction: column;
    }
    .third-main-screen{
        width: 100%;
        height: 475px;
    }
    .third-right-colomn{
        width: 100%;
        height: 50%;
    }
    .tape{
        width: 320px;
        height: 13px;
        gap: 5px;
        p{
            font-size: 8px;
        }
    }
    .second-screen{
        width: 320px;
        height: fit-content;
        grid-template-columns: [start] 50% [line2] 50% [end];
        grid-template-rows: [row1-start] 475px [row1-end] 475px [last];
        display: grid;
    }
    .main-logo-wrap{
        width: 100%;
    }
    .square-letter{
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
    .second-left-colomn{
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    .center-part{
        grid-column: 1 / span 2;
        width: 100%;
    }
    .second-right-colomn{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }
    .tape-robots{
        height: 12px;
        padding: 0 6px;
        p{
            font-size: 5px;
        }
    }
    .footer{
        height: 12px;
        padding: 0 6px;
        p{
            font-size: 5px;
        }
    }
    .up-text{
        font-size:37px;
        padding: 0 10px;
    }
    .down-text{
        font-size:44px;
        height: 33px;
    }
    .play-fruits{
        height: 451px;
        padding: 6px 0 0 0;
    }

}