@import url('reset.css');
@import url('../assets/fonts/font.css');
@import url('animations.css');

*{
    box-sizing:border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #94A0AF;
    overflow-x: hidden;
}
main{
    height: 1080px;
    width: 1920px;
    display: flex;
    position: relative;
    background-image: url("../assets/photos/main-screen-background.svg");
}
span{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: 2px solid white;
    display: flex;
}
.left-colomn{
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-middle-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/middle-left-square-background.svg");
    background-size: cover;
}
.left-up-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/left-up-square-background.svg");
    background-size: cover;
}
.left-down-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/left-down-square-background.svg");
    background-size: cover;
}
.main-logo-wrap{
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
}
.right-colomn{
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.square-letter{
    height: calc(100% / 3);
    width: calc(100% / 2);
    font-family: "Stolzl";
    font-weight: 900;
    font-size: 850px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #121B13;
}
.letter-F{
    background-image: url("../assets/photos/letter-f-background.svg");
    background-size: cover;
    p{
        rotate: 30deg;
    }
}
.letter-E{
    background-image: url("../assets/photos/letter-a-background.svg");
    background-size: cover;
    p{
        rotate: -9deg;
    }
}
.letter-R{
    background-image: url("../assets/photos/letter-r-background.svg");
    background-size: cover;
    p{
        rotate: -9deg;
    }
}
.letter-M{
    display: flex;
    justify-content: center;
    background-image: url("../assets/photos/letter-m-background.svg");
    background-size: cover;
    p{
        rotate: 10deg;
    }
}
.letter-A{
    display: flex;
    justify-content: center;
    background-image: url("../assets/photos/letter-a-background.svg");
    background-size: cover;
    p{
        rotate: -7deg;
    }
}
.letter-info{
    background-image: url("../assets/photos/letter-info-background.svg");
    background-size: cover;
    font-family: "IF Kica";
    font-size: 31.5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 45px 13px;
}
.right-up-square{
    background-image: url("../assets/photos/right-up-square-backround.svg");
    background-size: cover;
    width: 100%;
    height: calc(100%/3);
}
.right-middle-square{
    background-image: url("../assets/photos/right-middle-square-backround.svg");
    background-size: cover;
    width: 100%;
    height: calc(100%/3);
}
.right-down-square{
    background-image: url("../assets/photos/right-down-square-backround.svg");
    background-size: cover;
    width: 100%;
    height: calc(100%/3);
}
.second-screen{
    height: 1080px;
    display: flex;
    position: relative;
    width: 1920px;
}
.second-left-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    overflow: hidden;
    position: relative;
}
.fallen-brocolli{
    height: 99%;
    width: 150%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    div{
        display: flex;
        width: 70%;
        cursor: pointer;
        height: 70%;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }
}
.fallen1{
    background-image: url('../assets/photos/fall1.svg');
    position: absolute;
    left: 2%;
}
.fallen2{
    background-image: url('../assets/photos/fall2.svg');
}
.fallen3{
    background-image: url('../assets/photos/fall3.svg');
}
.fallen4{
    background-image: url('../assets/photos/fall4.svg');
}
.fallen5{
    background-image: url('../assets/photos/fall5.svg');
}
.fallen6{
    background-image: url('../assets/photos/fall6.svg');
}
.fallen7{
    background-image: url('../assets/photos/fall7.svg');
}
#double-brocolli{
    transform: translateY(-102%);
}
.center-part{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.grass{
    width: 100%;
    height: 28.7%;
    background-color: #004520;
    background-image: url("../assets/photos/grass.svg");
    background-size: cover;
}
.center-part-down{
    width: 100%;
    height: 71.3%;
    display: flex;
    flex-direction: row;
}
.center-part-down-left{
    height: 100%;
    width: 47%;
}
.center-part-down-right{
    height: 100%;
    width: 53%;
}
.tomato{
    width: 100%;
    height: 63%;
    background-color: #DDECFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.dnk{
    width: 100%;
    height: 37%;
    background-color: white;
    background-image: url("../assets/photos/dnk.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        background-color: white;
        display: flex;
        align-items: center;
        font-family: "IF Kica";
        font-size: 33px;
        padding: 10px;
    }
}
.vitamins{
    width: 100%;
    height: 37%;
    background-color: #FAAB28;
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    font-family: "IF Kica";
    font-size: 36px;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 41px;
        background-color: white;
        width: 350px;
    }
}
.vitamins-span{
    width: 350px;
    height: 57.6px;
}
.mushroom{
    width: 100%;
    height: 63%;
    background-color: #8C3651;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}
.second-right-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    display: flex;
    flex-direction: column;
}
.up-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 1.5 + 48px);
    background-color: #DDECFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.onion2{
    width: 622px;
    height: 710px;
    display: flex;
    justify-content: flex-end;
}
.down-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 3 + 49px);
    background-color: #B30E15;
    overflow: hidden;
    position: relative;
}
.tape{
    height: 76px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 100%;
    align-items: center;
    overflow: hidden;
    width: 1920px;
    position: relative;
    p{
        font-family: "IF Kica";
        font-size: 50px;
        font-weight: 500;
    }
}
.tape-things{
    display: flex;
    gap: 30px;
    width: 100%;
    position: absolute;
}
#double-tape{
    transform: translateX(-100%);
}
.third-screen{
    height: 1080px;
    display: flex;
    flex-direction: row;
    width: 1920px;
}
.third-main-screen{
    width: 77.5%;
    height: 143%;
    display: flex;
    flex-direction: column;
}
.trees-and-tasty{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}
.trees{
    width: 50%;
    height: 100%;
    background-color: #B30E15;
    display: flex;
    justify-content: center;
    gap: 21px;
    overflow: hidden;
}
.inverted-tree{
    rotate: 180deg;
}
.tasty{
    width: 50%;
    height: 100%;
    background-color: #004520;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "IF Kica";
    font-size: 51px;
    justify-content: space-between;
    padding: 56px 45px;
}
.span-tasty{
    width: 392px;
    height: 211px;
}
.gears{
    width: 100%;
    height: 40%;
    background-color: #FAAB28;
    gap: 4%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    img{
        width: 424px;
        height: 464px;
    }
    div{
        width: 103%;
        height: 50%;
    }
}
.up-gears{
    display: flex;
    gap: 47px;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: absolute;
}
#double-up-gears{
    transform: translateX(92%);
}
.down-gears{
    display: flex;
    gap: 47px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
    img{
        rotate: 180deg;
    }
}
#double-down-gears{
    transform: translateX(-92%);
}
.third-right-colomn{
    width: 100%;
    height: 171%;
    position: absolute;
    display: flex;
    gap: 28px;
    flex-direction: column;
    align-items: center;
}
.tomatos{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    position: relative;
    overflow: hidden;
}
#double-tomatos{
    transform: translateY(-87%);
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #DDECFF;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        opacity: 0;
    }
}
.forth-screen{
    height: 1080px;
    display: flex;
    flex-direction: column;
    width: 1920px;
}
.tape-robots{
    width: 100%;
    height:6%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.tape-robots-alt{
    opacity: 0;
}
.footer{
    width: 100%;
    height:6%;
    background-color:#121B13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    color: white;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#DDECFF;
    overflow: hidden;
}
.rotated-texture{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }
}
.play-fruits{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "IF Kica";
    font-weight: 900;
    padding: 13px 0 0 0;
    position: absolute;
    z-index: 2;
    top: 0;
    color:#121B13;
}
.up-text{
    font-size: 225px;
    padding: 23px 0;
    display: flex;
    justify-content: center;
}
.down-text{
    font-size: 265px;
    height: 197px;
    display: flex;
    justify-content: center;
}
.fallen-fruits{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
    div{
        background-size: contain;
        width: 30%;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        opacity: 0;
        width: 30%;
        height: 30%;
    }
}
.fruit1{
    position: absolute;
    z-index: 2;
    left: 2%;
    top: -10%;
    background-image: url("../assets/photos/fruit1.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.fruit2{
    position: absolute;
    z-index: 1;
    left: 18%;
    top: -50%;
    background-image: url("../assets/photos/fruit2.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.fruit3{
    position: absolute;
    z-index: 3;
    left: 36%;
    top: -30%;
    background-image: url("../assets/photos/fruit3.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.fruit4{
    position: absolute;
    z-index: 2;
    left: 52%;
    top: 5%;
    background-image: url("../assets/photos/fruit4.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.fruit5{
    position: absolute;
    z-index: 1;
    left: 68%;
    top: -10%;
    background-image: url("../assets/photos/fruit5.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.dekstop-only{
    display: inherit;
}
.mobile-only{
    display: none;
}
@media (max-width: 1919px){
    main{
        width: 100vw;
        height: 56.25vw;
    }
    .square-letter{
        font-size: 44.27vw;
    }
    .letter-info{
        font-size: 1.61vw;
        padding: 2.344vw 0.677vw;
    }
    .second-screen{
        width: 100vw;
        height: 56.25vw;
    }
    .fallen-brocolli{
        gap: 0.521vw;
    }
    .dnk{
        div{
            font-size: 1.72vw;
            padding: 0.677vw;
        }
    }
    .vitamins{
        padding: 1.25vw 1.875vw;
        font-size: 1.875vw;
        div{
            gap: 0.521vw;
            font-size: 2.135vw;
            width: 18.229vw;
        }
    }
    .vitamins-span{
        width: 18.229vw;
        height: 3vw;
    }
    .up-part-second-right-colomn{
        height: calc(100% / 1.5 + 2.5vw);
    }
    .down-part-second-right-colomn{
        height: calc(100% / 1.5 + 2.5vw);
    }
    .tape{
        height: 4vw;
        width: 100vw;
        p{
            font-size: 2.6vw;
        }
    }
    .tape-things{
        gap: 1.56vw;
    }
    .third-screen{
        height: 56.25vw;
        width: 100vw;
    }
    .trees{
        gap:1.1vw
    }
    .tasty{
        font-size: 2.656vw;
        padding: 2.9vw 2.344vw;
    }
    .span-tasty{
        width: 20.417vw;
        height: 11vw;
    }
    .gears{
        img{
            width: 22.083vw;
            height: 24.167vw;
        }
    }
    .up-gears{
        gap: 2.448vw;
    }
    .down-gears{
        gap: 2.448vw;
    }
    .third-right-colomn{
        gap: 1.458vw;
    }
    .circle{
        width: 10.417vw;
        height: 10.417vw;
    }
    .forth-screen{
        width: 100vw;
        height: 56.25vw;
    }
    .tape-robots{
        padding: 0 1.771vw;
        p{
            font-size: 1.5625vw;
        }
    }
    .footer{
        padding: 0 1.771vw;
        p{
            font-size: 1.563vw;
        }
    }
    .play-fruits{
        padding: 0.677vw 0 0 0;
    }
    .up-text{
        font-size: 11.719vw;
        padding: 1.198vw 0;
    }
    .down-text{
        font-size: 13.802vw;
        height: 10.26vw;
    }

@media (max-width: 1536px){
    main{
        height: 47.916vw;
        background-size: cover;
    }
    .square-letter{
        font-size: 44.271vw;
        position: relative;
        p{
            position: absolute;
            top: -12.695vw;
        }
    }
    .letter-info{
        font-size: 1.64vw;
    }
    .forth-screen{
        width: 100vw;
        height: 47.916vw;
    }
    .third-screen{
        width: 100vw;
        height: 47.916vw;
    }
    .tape{
        width: 100vw;
        height: 3.971vw;
        gap: 1.56vw;
        p{
            font-size: 2.6vw;
        }
    }
    .second-screen{
        width: 100vw;
        height: 47.916vw;
    }
    .square-letter{
        width: calc(100% / 2);
    }
    .vitamins{
        font-size: 1.888vw;
        div{
            font-size: 2.148vw;
            width: 18.229vw;
        }
    }
    .vitamins-span{
        width: 18.229vw;
    }
    .tomato{
        img{
            width: 130%;
        }
    }
    .dnk{
        div{
            font-size: 1.693vw;
        }
    }
    .up-part-second-right-colomn{
        position: relative;
        img{
            width: 80%;
        }
    }
    .onion2{
        position: absolute;
        top: 10.4vw;
        left: -3.255vw;
        img{
            width: 130%;
        }
    }
    .mushroom{
        img{
            width: 160%;
        }
    }
    .trees{
        img{
            width: 75%;
        }
    }
    .tasty{
        font-size: 2.604vw;
        padding: 2.279vw 2.34vw;
    }
    .span-tasty{
        width: 20.052vw;
    }
    .circle{
        width: 10.417vw;
        height: 10.417vw;
    }
    .third-right-colomn{
        gap: 1.43vw;
        img{
            width: 8.46vw;
        }
    }
    .gears{
        img{
            width: 22.07vw;
            height: 24.15vw;
        }
    }
    .tape-robots{
        height: 3.451vw;
        padding: 0 1.758vw;
        p{
            font-size: 1.563vw;
        }
    }
    .footer{
        height: 3.451vw;
        padding: 0 1.758vw;
        p{
            font-size: 1.563vw;
        }
    }
    .up-text{
        font-size:11.719vw;
        padding: 0.911vw 0;
    }
    .down-text{
        font-size:13.802vw;
        height: 10vw;
    }
}
@media (max-width: 1280px){
    main{
        background-size: cover;
        width: 100%;
        height: 62.5vw;
    }
    .square-letter{
        font-size: 44.297vw;
        p{
            position: static;
        }
    }
    .letter-info{
        font-size: 1.563vw;
    }
    .second-screen{
        width: 100%;
        height: 62.5vw;
    }
    .third-screen{
        width: 100%;
        height: 62.5vw;
    }
    .forth-screen{
        width: 100%;
        height: 62.5vw;
    }
    .tape{
        width: 100%;
        height: 3.984vw;
        gap: 1.5625vw;
        p{
            font-size: 2.578vw;
        }
    }
    .square-letter{
        width: calc(100% / 2);
    }
    .vitamins{
        font-size: 1.6vw;
        div{
            font-size: 2vw;
            width: 18vw;
        }
    }
    .vitamins-span{
        width: 18vw;
    }
    #double-tomatos{
        transform: translateY(-78%);
    }
    .tomato{
        img{
            width: 155%;
        }
    }
    .dnk{
        div{
            font-size: 1.719vw;
        }
    }
    .mushroom{
        position: relative;
        img{
            position: absolute;
            left: -6.25vw;
            width: 190%;
        }
    }
    .down-part-second-right-colomn{
        img{
            width: 150%;
        }
    }
    .trees{
        img{
            width: 95%;
        }
    }
    .gears{
        img{
            width: 22.031vw;
            height: 24.121vw;
        }
    }
    .tape-robots{
        height: 3.594vw;
        padding: 0 1.797vw;
        p{
            font-size: 1.563vw;
        }
    }
    .footer{
        height: 3.594vw;
        padding: 0 1.797vw;
        p{
            font-size: 1.5625vw;
        }
    }
    .up-text{
        font-size:11.719vw;
        padding: 1.094vw 0
    }
    .down-text{
        font-size:13.75vw;
        height: 10.156vw;
    }
}
@media (max-width: 768px){
    .dekstop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    main{
        width: 100%;
        height: 133.333vw;
        background-size: cover;
    }
    .square-letter{
        font-size: 79.948vw;
    }
    .letter-info{
        font-size: 2.865vw;
    }
    .grass{
        background-position-x: center;
    }
    .tomato{
        img{
            width: 170%;
        }
    }
    .mushroom{
        img{
            width: 230%;
        }
    }
    .dnk{
        div{
            font-size: 3.125vw;
        }
    }
    .vitamins{
        font-size: 2.8vw;
        div{
            font-size: 3.906vw;
            width: 33.854vw;
        }
    }
    .trees{
        img{
            width: 90%;
        }
    }
    #double-up-gears{
        transform: translateX(95%);
    }
    #double-down-gears{
        transform: translateX(-95%);
    }
    .gears{
        div{
            width: 103%;
        }
    }
    .vitamins-span{
        width: 33.854vw;
        height: 10.417vw;
    }
    .tasty{
        font-size: 3vw;
    }
    .span-tasty{
        width: 26.237vw;
        height: 45.573vw;
    }
    .forth-screen{
        width: 100%;
        height: 133.333vw;
    }
    .third-screen{
        width: 100%;
        height: 133.333vw;
        flex-direction: column;
    }
    .third-main-screen{
        width: 100%;
        height: 67.1875vw;
    }
    .tomatos{
        height: 66.146vw;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .third-right-colomn{
        width: 100%;
        height: 250%;
        rotate: 90deg;
        animation: anotherFall 10s infinite linear;
    }
    #double-tomatos{
        transform: translateY(89%);
    }
    @keyframes anotherFall{
        0% {
            left: 0;
        }
        100%{
            left: 100%;
        }
    }
    .tape{
        width: 100%;
        height: 3.906vw;
        gap: 1.5625vw;
        p{
            font-size: 2.604vw;
        }
    }
    .second-screen{
        width: 100%;
        height: fit-content;
        grid-template-columns: [start] 50% [line2] 50% [end];
        grid-template-rows: [row1-start] 133.333vw [row1-end] 133.333vw [last];
        display: grid;
    }
    .main-logo-wrap{
        width: 100%;
    }
    .square-letter{
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
    .second-left-colomn{
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    .center-part{
        grid-column: 1 / span 2;
        width: 100%;
    }
    .second-right-colomn{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }
    .tape-robots{
        height: 3.646vw;
        padding: 0 1.693vw;
        p{
            font-size: 1.5625vw;
        }
    }
    .gears{
        height: 50%;
    }
    .up-gears{
        height: 50%;
    }
    .trees-and-tasty{
        height: 50%;
    }
    .footer{
        height: 3.646vw;
        padding: 0 1.693vw;
        p{
            font-size: 1.5625vw;
        }
    }
    .up-text{
        font-size: 11vw;
    }
    .down-text{
        font-size: 13vw;
        height: 9.271vw;
    }
    .rotated-texture{
        rotate: 90deg;
    }
    .play-fruits{
        padding: 1.302vw 0 0 0;
    }
    .rotated-texture{
        img{
            width: 140%;
        }
    }
    .circle{
        width: 19.417vw;
        height: 19.417vw;
    }
}
@media (max-width: 400px){
    .dekstop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    main{
        width: 100%;
        height: 148.4375vw;
        background-size: cover;
    }
    .square-letter{
        font-size: 80vw;
    }
    .letter-info{
        font-size: 2.5vw;
    }
    .dnk{
        div{
            font-size: 3.125vw;
            padding: 0.9375vw;
        }
    }
    .tomato{
        img{
            width: 195%;
        }
    }
    .vitamins{
        font-size: 3.125vw;
        padding: 2.1875vw 3.4375vw;
        div{
            font-size: 3.75vw;
            width: 34.375vw;
        }
    }
    #double-tomatos{
        transform: translateY(77%);
    }
    .vitamins-span{
        width: 34.375vw;
    }
    .onion2{
        top: -18.75vw;
        left: -79.375vw;
        img{
            width: 70%;
        }
    }
    .trees{
        img{
            width: 100%;
        }
    }
    .tasty{
        font-size: 3.125vw;
        padding: 3.75vw 3.125vw;
    }
    .span-tasty{
        width: 24.844vw;
    }
    .forth-screen{
        width: 100%;
        height: 148.4375vw;
    }
    .third-screen{
        width: 100%;
        height: 144.375vw;
        flex-direction: column;
    }
    .third-main-screen{
        width: 100%;
        height: 67.1875vw;
    }
    .tape{
        width: 100%;
        height: 4.0625vw;
        gap: 1.5625vw;
        p{
            font-size: 2.5vw;
        }
    }
    .gears{
        img{
            width: 28.4375vw;
            height: 30.9375vw;
        }
    }
    .up-gears{
        gap: 3.125vw;
    }
    .down-gears{
        gap: 3.125vw;
    }
    .circle{
        width: 19.6875vw;
        height: 19.6875vw;
        img{
            width: 17.1875vw;
            height: 17.1875vw;
        }
    }
    .second-screen{
        width: 100%;
        height: fit-content;
        grid-template-columns: [start] 50% [line2] 50% [end];
        grid-template-rows: [row1-start] 148.4375vw [row1-end] 148.4375vw [last];
        display: grid;
    }
    .main-logo-wrap{
        width: 100%;
    }
    .square-letter{
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
    .second-left-colomn{
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    .tomatos{
        height: 77.146vw;
    }
    .center-part{
        grid-column: 1 / span 2;
        width: 100%;
    }
    .second-right-colomn{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }
    .tape-robots{
        height: 3.75vw;
        padding: 0 1.875vw;
        p{
            font-size: 1.5625vw;
        }
    }
    .footer{
        height: 3.75vw;
        padding: 0 1.875vw;
        p{
            font-size: 1.5625vw;
        }
    }
    .up-text{
        font-size:11vw;
    }
    .down-text{
        font-size:13vw;
        height: 8.8125vw;
    }
    #double-up-gears{
        transform: translateX(90%);
    }
    #double-down-gears{
        transform: translateX(-90%);
    }
    .gears{
        div{
            width: 105%;
        }
    }
}
@media (max-width: 226px){
    .letter-info{
        font-size: 1.9vw;
    }
    .square-letter{
        height: calc((100% / 3) + 15px);
    }
    .onion2{
        top: -98.75vw;
        left: -129.375vw;
    }
}
}