@import url('reset.css');
@import url('/assets/fonts/font.css');
@import url('animations.css');

*{
    box-sizing:border-box;
}
main{
    width: 1920px;
    height: 1080px;
    display: flex;
    position: relative;
}
.left-colomn{
    width: 22.5%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.left-up-square{
    border: 1px solid black;
    width: 100%;
    height: calc(100%/3);
}
.left-down-square{
    border: 1px solid black;
    width: 100%;
    height: calc(100%/3);
}
.main-logo-wrap{
    width: 55%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
}
.right-colomn{
    width: 22.5%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.square-letter{
    height: calc(100% / 3);
    width: calc(1056px / 2 - 1px);
    border: 1px solid black;
    font-family: "IF Kica";
    font-weight: 900;
}
.right-up-square{
    border: 1px solid black;
    width: 100%;
    height: calc(100%/3);
}
.right-down-square{
    border: 1px solid black;
    width: 100%;
    height: calc(100%/3);
}
.second-screen{
    width: 1920px;
    height: 1080px;
    display: flex;
    position: relative;
}
.second-left-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
}
.center-part{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.grass{
    width: 100%;
    height: 28.7%;
    background-color: #004520;
}
.center-part-down{
    width: 100%;
    height: 71.3%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.center-part-down-left{
    height: 100%;
    width: 47%;
}
.center-part-down-right{
    height: 100%;
    width: 53%;
}
.tomato{
    width: 100%;
    height: 63%;
    background-color: #DDECFF;
}
.dnk{
    width: 100%;
    height: 37%;
    background-color: white;
}
.vitamins{
    width: 100%;
    height: 37%;
    background-color: #004520;
}
.mushroom{
    width: 100%;
    height: 63%;
    background-color: #8C3651;
}
.second-right-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    display: flex;
    flex-direction: column;
}
.up-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 1.5 + 48px);
    background-color: #DDECFF;
}
.down-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 3 + 49px);
    background-color: #B30E15;
}
.tape{
    width: 1920px;
    height: 76px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    overflow: hidden;
    p{
        font-family: "IF Kica";
        font-size: 50px;
        font-weight: 500;
    }
}
.third-screen{
    width: 1920px;
    height: 1003px;
    display: flex;
    flex-direction: row;
}
.third-main-screen{
    width: 77.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.trees-and-tasty{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.trees{
    width: 50%;
    height: 100%;
    background-color: #B30E15;
}
.tasty{
    width: 50%;
    height: 100%;
    background-color: #004520;
}
.gears{
    width: 100%;
    height: 50%;
    background-color: #FAAB28;
}
.third-right-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
}
.forth-screen{
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
}
.tape-robots{
    width: 100%;
    height:6%;
    background-color: #DDECFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.play-fruits{
    width: 100%;
    height: 88%;
    background-color: #FAAB28;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "IF Kica";
    font-weight: 900;
    padding: 13px 0 0 0;
}
.up-text{
    font-size: 225px;
    padding: 23px 15px;
    display: flex;
    justify-content: center;
}
.down-text{
    font-size: 265px;
    height: 198px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}
.footer{
    width: 100%;
    height:6%;
    background-color: #DDECFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.fruits{
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
    div{
        height: 100%;
        width: calc(100%/4);
        border: 1px solid black;
    }
}
.dekstop-only{
    display: inherit;
}
.mobile-only{
    display: none;
}
@media (max-width: 1536px){
    main{
        width: 1536px;
        height: 736px;
    }
    .forth-screen{
        width: 1536px;
        height: 736px;
    }
    .third-screen{
        width: 1536px;
        height: 675px;
    }
    .tape{
        width: 1536px;
        height: 61px;
        gap: 24px;
        p{
            font-size: 40px;
        }
    }
    .second-screen{
        width: 1536px;
        height: 736px;
    }
    .square-letter{
        width: calc(864px / 2 - 10.5px);
    }
    .tape-robots{
        height: 53px;
        p{
            font-size: 24px;
            padding: 0 27px;
        }
    }
    .footer{
        height: 53px;
        p{
            font-size: 24px;
            padding: 0 27px;
        }
    }
    .up-text{
        font-size:180px;
        padding: 14px 15px;
    }
    .down-text{
        font-size:212px;
        height: 160px;
    }
}
@media (max-width: 1280px){
    main{
        width: 1280px;
        height: 800px;
    }
    .forth-screen{
        width: 1280px;
        height: 800px;
    }
    .third-screen{
        width: 1280px;
        height: 749px;
    }
    .tape{
        width: 1280px;
        height: 51px;
        gap: 20px;
        p{
            font-size: 33px;
        }
    }
    .second-screen{
        width: 1280px;
        height: 800px;
    }
    .square-letter{
        width: calc(720px / 2 - 9px);
    }
    .tape-robots{
        height: 46px;
        p{
            font-size: 20px;
            padding: 0 23px;
        }
    }
    .footer{
        height: 46px;
        p{
            font-size: 20px;
            padding: 0 23px;
        }
    }
    .up-text{
        font-size:150px;
        padding: 14px 10px;
    }
    .down-text{
        font-size:176px;
        height: 130px;
    }
}
@media (max-width: 768px){
    .dekstop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    main{
        width: 768px;
        height: 1024px;
    }
    .forth-screen{
        width: 768px;
        height: 1024px;
    }
    .third-screen{
        width: 768px;
        height: fit-content;
        flex-direction: column;
    }
    .third-main-screen{
        width: 100%;
        height: 1024px;
    }
    .third-right-colomn{
        width: 100%;
        height: 1024px;
    }
    .tape{
        width: 768px;
        height: 30px;
        gap: 12px;
        p{
            font-size: 20px;
        }
    }
    .second-screen{
        width: 768px;
        height: fit-content;
        flex-direction: column;
    }
    .main-logo-wrap{
        width: 100%;
    }
    .square-letter{
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
    .second-left-colomn{
        width: 100%;
        height: 1024px;
    }
    .center-part{
        width: 100%;
        height: 1024px;
    }
    .second-right-colomn{
        width: 100%;
        height: 1024px;
    }
    .tape-robots{
        height: 28px;
        p{
            font-size: 12px;
            padding: 0 13px;
        }
    }
    .footer{
        height: 28px;
        p{
            font-size: 12px;
            padding: 0 13px;
        }
    }
    .up-text{
        font-size:90px;
        padding: 0 10px;
    }
    .down-text{
        font-size:106px;
        height: 80px;
    }
    .play-fruits{
        height: 970px;
    }
}