@import url('reset.css');
@import url('../assets/fonts/font.css');
@import url('animations.css');

*{
    box-sizing:border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #94A0AF;
    overflow-x: hidden
}
main{
    width: 1920px;
    height: 1080px;
    display: flex;
    position: relative;
    background-image: url("../assets/photos/main-screen-background.svg");
}
span{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: 2px solid white;
    margin: 0;
    display: flex;
}
.left-colomn{
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-middle-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/middle-left-square-background.svg");
    background-size: cover;
}
.left-up-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/left-up-square-background.svg");
    background-size: cover;
}
.left-down-square{
    width: 100%;
    height: calc(100%/3);
    background-image: url("../assets/photos/left-down-square-background.svg");
    background-size: cover;
}
.main-logo-wrap{
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
}
.right-colomn{
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.square-letter{
    height: calc(100% / 3);
    width: calc(1056px / 2 - 1px);
    font-family: "Stolzl";
    font-weight: 900;
    font-size: 850px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #121B13;
}
.letter-F{
    background-image: url("../assets/photos/letter-f-background.svg");
    background-size: cover;
    p{
        rotate: 30deg;
    }
}
.letter-E{
    background-image: url("../assets/photos/letter-a-background.svg");
    background-size: cover;
    p{
        rotate: -9deg;
    }
}
.letter-R{
    background-image: url("../assets/photos/letter-r-background.svg");
    background-size: cover;
    p{
        rotate: -9deg;
    }
}
.letter-M{
    display: flex;
    justify-content: center;
    background-image: url("../assets/photos/letter-m-background.svg");
    background-size: cover;
    p{
        rotate: 10deg;
    }
}
.letter-A{
    display: flex;
    justify-content: center;
    background-image: url("../assets/photos/letter-a-background.svg");
    background-size: cover;
    p{
        rotate: -7deg;
    }
}
.letter-info{
    background-image: url("../assets/photos/letter-info-background.svg");
    background-size: cover;
    font-family: "IF Kica";
    font-size: 31px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 45px 13px;
}
.right-up-square{
    background-image: url("../assets/photos/right-up-square-backround.svg");
    background-size: cover;
    width: 100%;
    height: calc(100%/3);
}
.right-middle-square{
    background-image: url("../assets/photos/right-middle-square-backround.svg");
    background-size: cover;
    width: 100%;
    height: calc(100%/3);
}
.right-down-square{
    background-image: url("../assets/photos/right-down-square-backround.svg");
    background-size: cover;
    width: 100%;
    height: calc(100%/3);
}
.second-screen{
    width: 1920px;
    height: 1080px;
    display: flex;
    position: relative;
}
.second-left-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    overflow: hidden;
}
.fallen-brocolli{
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        display: flex;
        width: 60%;
        cursor: pointer;
        height: 10%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.fallen1{
    justify-content: flex-end;
    background-image: url('../assets/photos/fall1.svg');
}
.fallen2{
    justify-content: flex-start;
    background-image: url('../assets/photos/fall2.svg');
}
.fallen3{
    justify-content: center;
    background-image: url('../assets/photos/fall3.svg');
}
.fallen4{
    justify-content: flex-start;
    background-image: url('../assets/photos/fall4.svg');
}
.fallen5{
    justify-content: flex-start;
    background-image: url('../assets/photos/fall5.svg');
}
.fallen6{
    justify-content: flex-start;
    background-image: url('../assets/photos/fall6.svg');
}
.fallen7{
    justify-content: flex-start;
    background-image: url('../assets/photos/fall7.svg');
}
.center-part{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.grass{
    width: 100%;
    height: 28.7%;
    background-color: #004520;
    background-image: url("../assets/photos/grass.svg");
    background-size: cover;
}
.center-part-down{
    width: 100%;
    height: 71.3%;
    display: flex;
    flex-direction: row;
}
.center-part-down-left{
    height: 100%;
    width: 47%;
}
.center-part-down-right{
    height: 100%;
    width: 53%;
}
.tomato{
    width: 100%;
    height: 63%;
    background-color: #DDECFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.dnk{
    width: 100%;
    height: 37%;
    background-color: white;
    background-image: url("../assets/photos/dnk.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        background-color: white;
        display: flex;
        align-items: center;
        font-family: "IF Kica";
        font-size: 33px;
        padding: 10px;
    }
}
.vitamins{
    width: 100%;
    height: 37%;
    background-color: #FAAB28;
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    font-family: "IF Kica";
    font-size: 36px;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 41px;
        background-color: white;
        width: 350px;
    }
}
.vitamins-span{
    width: 350px;
    height: 43px;
}
.mushroom{
    width: 100%;
    height: 63%;
    background-color: #8C3651;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}
.second-right-colomn{
    width: 22.5%;
    height: 100%;
    background-color: #8C3651;
    display: flex;
    flex-direction: column;
}
.up-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 1.5 + 48px);
    background-color: #DDECFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.onion2{
    width: 622px;
    height: 710px;
    display: flex;
    justify-content: flex-end;
}
.down-part-second-right-colomn{
    width: 100%;
    height: calc(100% / 3 + 49px);
    background-color: #B30E15;
    overflow: hidden;
    position: relative;
}
.tape{
    width: 1920px;
    height: 76px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    overflow: hidden;
    p{
        font-family: "IF Kica";
        font-size: 50px;
        font-weight: 500;
    }
}
.tape-things{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 200%;
}
.tape-things2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 200%;
}
.third-screen{
    width: 1920px;
    height: 1003px;
    display: flex;
    flex-direction: row;
}
.third-main-screen{
    width: 77.5%;
    height: 143%;
    display: flex;
    flex-direction: column;
}
.trees-and-tasty{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}
.trees{
    width: 50%;
    height: 100%;
    background-color: #B30E15;
    display: flex;
    justify-content: center;
    gap: 21px;
    overflow: hidden;
}
.inverted-tree{
    rotate: 180deg;
}
.tasty{
    width: 50%;
    height: 100%;
    background-color: #004520;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "IF Kica";
    font-size: 51px;
    justify-content: space-between;
    padding: 56px 45px;
}
.span-tasty{
    width: 392px;
    height: 180px;
}
.gears{
    width: 100%;
    height: 40%;
    background-color: #FAAB28;
    gap: 4%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    img{
        width: 424px;
        height: 464px;
    }
}
.up-gears{
    width: 200%;
    height: 48%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 47px;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.down-gears{
    width: 200%;
    height: 48%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 47px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    img{
        rotate: 180deg;
    }
}
.third-right-colomn{
    background-color: #8C3651;
    display: flex;
    flex-direction: column;
    gap: 28px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0 81px;
    width: 100%;
}
.tomatos{
    width: 22.5%;
    height: 100%;
    overflow: hidden;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #DDECFF;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        opacity: 0;
    }
}
.forth-screen{
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
}
.tape-robots{
    width: 100%;
    height:6%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.tape-robots-alt{
    opacity: 0;
}
.footer{
    width: 100%;
    height:6%;
    background-color:#121B13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    color: white;
    p{
        font-size: 30px;
        font-weight: 500;
        font-family: "IF Kica";
    }
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#DDECFF;
    overflow: hidden;
}
.rotated-texture{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-fruits{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "IF Kica";
    font-weight: 900;
    padding: 13px 0 0 0.5%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: -25px;
    color:#121B13;
}
.up-text{
    font-size: 225px;
    padding: 23px 15px;
    display: flex;
    justify-content: center;
}
.down-text{
    font-size: 265px;
    height: 198px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}
.fallen-fruits{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
}
.fruit1{
    position: absolute;
    z-index: 2;
    left: 2%;
    top: -10%;
    background-image: url("../assets/photos/fruit1.svg");
    background-repeat: no-repeat;
    width: 50%;
    img{
        opacity: 0;
    }
}
.fruit2{
    position: absolute;
    z-index: 1;
    left: 18%;
    top: -50%;
    background-image: url("../assets/photos/fruit2.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.fruit3{
    position: absolute;
    z-index: 3;
    left: 36%;
    top: -30%;
    background-image: url("../assets/photos/fruit3.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.fruit4{
    position: absolute;
    z-index: 2;
    left: 52%;
    top: 5%;
    background-image: url("../assets/photos/fruit4.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.fruit5{
    position: absolute;
    z-index: 1;
    left: 68%;
    top: -10%;
    background-image: url("../assets/photos/fruit5.svg");
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
.dekstop-only{
    display: inherit;
}
.mobile-only{
    display: none;
}
@media (max-width: 1536px){
    main{
        width: 1536px;
        height: 736px;
        background-size: cover;
    }
    .square-letter{
        font-size: 680px;
        position: relative;
        p{
            position: absolute;
            top: -195px;
        }
    }
    .letter-info{
        font-size: 24px;
    }
    .forth-screen{
        width: 1536px;
        height: 736px;
    }
    .third-screen{
        width: 1536px;
        height: 675px;
    }
    .tape{
        width: 1536px;
        height: 61px;
        gap: 24px;
        p{
            font-size: 40px;
        }
    }
    .second-screen{
        width: 1536px;
        height: 736px;
    }
    .square-letter{
        width: calc(864px / 2 - 10.5px);
    }
    .vitamins{
        font-size: 29px;
        div{
            font-size: 33px;
            width: 280px;
        }
    }
    .vitamins-span{
        width: 280px;
    }
    .tomato{
        img{
            width: 130%;
        }
    }
    .dnk{
        div{
            font-size: 26px;
        }
    }
    .up-part-second-right-colomn{
        position: relative;
        img{
            width: 80%;
        }
    }
    .onion2{
        position: absolute;
        top: 160px;
        left: -50px;
        img{
            width: 130%;
        }
    }
    .mushroom{
        img{
            width: 160%;
        }
    }
    .trees{
        img{
            width: 75%;
        }
    }
    .tasty{
        font-size: 40px;
        padding: 35px 36px;
    }
    .span-tasty{
        width: 308px;
    }
    .circle{
        width: 160px;
        height: 160px;
    }
    .third-right-colomn{
        gap: 22px;
        img{
            width: 130px;
        }
    }
    .gears{
        img{
            width: 339px;
            height: 371px;
        }
    }
    .tape-robots{
        height: 53px;
        padding: 0 27px;
        p{
            font-size: 24px;
        }
    }
    .footer{
        height: 53px;
        padding: 0 27px;
        p{
            font-size: 24px;
        }
    }
    .up-text{
        font-size:180px;
        padding: 14px 15px;
    }
    .down-text{
        font-size:212px;
        height: 160px;
    }
}
@media (max-width: 1280px){
    main{
        width: 1280px;
        height: 800px;
        background-size: cover;
    }
    .square-letter{
        font-size: 567px;
        p{
            position: static;
        }
    }
    .letter-info{
        font-size: 20px;
    }
    .forth-screen{
        width: 1280px;
        height: 800px;
    }
    .third-screen{
        width: 1280px;
        height: 749px;
    }
    .tape{
        width: 1280px;
        height: 51px;
        gap: 20px;
        p{
            font-size: 33px;
        }
    }
    .second-screen{
        width: 1280px;
        height: 800px;
    }
    .square-letter{
        width: calc(720px / 2 - 9px);
    }
    .vitamins{
        font-size: 24px;
        div{
            font-size: 37px;
            width: 310px;
        }
    }
    .vitamins-span{
        width: 291px;
    }
    .tomato{
        img{
            width: 155%;
        }
    }
    .dnk{
        div{
            font-size: 22px;
        }
    }
    .mushroom{
        position: relative;
        img{
            position: absolute;
            left: -80px;
            width: 190%;
        }
    }
    .down-part-second-right-colomn{
        img{
            width: 150%;
        }
    }
    .trees{
        img{
            width: 95%;
        }
    }
    .gears{
        img{
            width: 282px;
            height: 309px;
        }
    }
    .tape-robots{
        height: 46px;
        padding: 0 23px;
        p{
            font-size: 20px;
        }
    }
    .footer{
        height: 46px;
        padding: 0 23px;
        p{
            font-size: 20px;
        }
    }
    .up-text{
        font-size:150px;
        padding: 14px 10px;
    }
    .down-text{
        font-size:176px;
        height: 130px;
    }
}
@media (max-width: 768px){
    .dekstop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    main{
        width: 768px;
        height: 1024px;
        background-size: cover;
    }
    .square-letter{
        font-size: 614px;
    }
    .letter-info{
        font-size: 22px;
    }
    .grass{
        background-position-x: center;
    }
    .tomato{
        img{
            width: 170%;
        }
    }
    .mushroom{
        img{
            width: 230%;
        }
    }
    .dnk{
        div{
            font-size: 24px;
        }
    }
    .vitamins{
        font-size: 26px;
        div{
            font-size: 30px;
            width: 260px;
        }
    }
    .trees{
        img{
            width: 90%;
        }
    }
    .vitamins-span{
        width: 260px;
        height: 80px;
    }
    .tasty{
        font-size: 26px;
    }
    .span-tasty{
        width: 201.5px;
        height: 350px;
    }
    .forth-screen{
        width: 768px;
        height: 1024px;
    }
    .third-screen{
        width: 768px;
        height: 1024px;
        flex-direction: column;
    }
    .third-main-screen{
        width: 100%;
        height: 516px;
    }
    .tomatos{
        height: 508px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .third-right-colomn{
        width: 100%;
        rotate: 90deg;
    }
    .tape{
        width: 768px;
        height: 30px;
        gap: 12px;
        p{
            font-size: 20px;
        }
    }
    .second-screen{
        width: 768px;
        height: fit-content;
        grid-template-columns: [start] 50% [line2] 50% [end];
        grid-template-rows: [row1-start] 1024px [row1-end] 1024px [last];
        display: grid;
    }
    .main-logo-wrap{
        width: 100%;
    }
    .square-letter{
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
    .second-left-colomn{
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    .center-part{
        grid-column: 1 / span 2;
        width: 100%;
    }
    .second-right-colomn{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }
    .tape-robots{
        height: 28px;
        padding: 0 13px;
        p{
            font-size: 12px;
        }
    }
    .gears{
        height: 50%;
    }
    .up-gears{
        height: 50%;
    }
    .trees-and-tasty{
        height: 50%;
    }
    .footer{
        height: 28px;
        padding: 0 13px;
        p{
            font-size: 12px;
        }
    }
    .up-text{
        font-size:90px;
        padding: 0 10px;
    }
    .down-text{
        font-size:106px;
        height: 148px;
    }
    .rotated-texture{
        rotate: 90deg;
    }
    .play-fruits{
        height: 107%;
        padding: 10px 0 0 30px;
    }
}
@media (max-width: 431px){
    .dekstop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    main{
        width: 100%;
        height: 475px;
        background-size: cover;
    }
    .square-letter{
        font-size: 256px;
    }
    .letter-info{
        font-size: 8px;
    }
    .dnk{
        div{
            font-size: 10px;
            padding: 3px;
        }
    }
    .tomato{
        img{
            width: 195%;
        }
    }
    .vitamins{
        font-size: 10px;
        padding: 7px 11px;
        div{
            font-size: 12px;
            width: 110px;
        }
    }
    .vitamins-span{
        width: 110px;
    }
    .onion2{
        top: -60px;
        left: -350px;
        img{
            width: 70%;
        }
    }
    .trees{
        img{
            width: 100%;
        }
    }
    .tasty{
        font-size: 10px;
        padding: 12px 10px;
    }
    .span-tasty{
        width: 79.5px;
    }
    .forth-screen{
        width: 100%;
        height: 475px;
    }
    .third-screen{
        width: 100%;
        height: 462px;
        flex-direction: column;
    }
    .third-main-screen{
        width: 100%;
        height: 215px;
    }
    .tape{
        width: 100%;
        height: 13px;
        gap: 5px;
        p{
            font-size: 8px;
        }
    }
    .gears{
        img{
            width: 91px;
            height: 99px;
        }
    }
    .up-gears{
        gap: 10px;
    }
    .down-gears{
        gap: 10px;
    }
    .circle{
        width: 63px;
        height: 63px;
        img{
            width: 55px;
            height: 55px;
        }
    }
    .second-screen{
        width: 100%;
        height: fit-content;
        grid-template-columns: [start] 50% [line2] 50% [end];
        grid-template-rows: [row1-start] 475px [row1-end] 475px [last];
        display: grid;
    }
    .main-logo-wrap{
        width: 100%;
    }
    .square-letter{
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
    .second-left-colomn{
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    .center-part{
        grid-column: 1 / span 2;
        width: 100%;
    }
    .second-right-colomn{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }
    .tape-robots{
        height: 12px;
        padding: 0 6px;
        p{
            font-size: 5px;
        }
    }
    .footer{
        height: 12px;
        padding: 0 6px;
        p{
            font-size: 5px;
        }
    }
    .up-text{
        font-size:37px;
        padding: 0 10px;
    }
    .down-text{
        font-size:44px;
        height: 65px;
    }
    .play-fruits{
        padding: 6px 0 0 40px;
    }
}