@font-face {
    font-family: "IF Kica";
    src: url(ifkica-bold.woff2);
    font-weight: 900;
}
@font-face {
    font-family: "IF Kica";
    src: url(ifkica-regular.woff2);
    font-weight: 500;
}
@font-face {
    font-family: "IF Kica";
    src: url(ifkica-light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: "Stolzl";
    src: url(stolzl_bold.woff2);
    font-style: oblique;
    font-weight: 900;
}